@model capa.entCategoria

@{
    ViewData["Title"] = "InsertarCategoria";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>InsertarCategoria</h1>

<h4>entCategoria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InsertarCategoria">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="nombreCategoria" class="control-label"></label>
                <input asp-for="nombreCategoria" class="form-control" />
                <span asp-validation-for="nombreCategoria" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Volver", "ListarCategoria")
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
