USE [DB_PolleriaAdv]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[idCategoria] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[nombreCategoria] [varchar](100) NOT NULL,
	[estado] [int] NOT NULL,
	[createdBy] [int] NULL,
	[createdAt] [datetime] DEFAULT GETDATE(),
	[updatedBy] [int] NULL,
	[updatedAt] [datetime] NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Combo]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Combo](
	[idCombo] [int] IDENTITY(1,1) NOT NULL,
	[nombreCombo] [varchar](100) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[precioVenta] [decimal](10, 2) NULL,
	[estado] [int] NULL,
	[createdBy] [int] NULL,
	[createdAt] [datetime] DEFAULT GETDATE(),
	[updatedBy] [int] NULL,
	[updatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idCombo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComboProducto]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComboProducto](
	[idComboProducto] [int] IDENTITY(1,1) NOT NULL,
	[idCombo] [int] NULL,
	[idProducto] [int] NULL,
	[cantidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idComboProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComprobanteDePago]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComprobanteDePago](
	[idComprobantePago] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[fecha] [date] NOT NULL,
	[hora] [time](7) NOT NULL,
	[monto] [decimal](18, 0) NOT NULL,
	[idPedidoOnline] [int] NOT NULL,
 CONSTRAINT [PK_ComprobanteDePago] PRIMARY KEY CLUSTERED 
(
	[idComprobantePago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[idEstado] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[nombreEstado] [varchar](50) NOT NULL,
	[estado] [int] NOT NULL,
 CONSTRAINT [PK_Estado] PRIMARY KEY CLUSTERED 
(
	[idEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Formaenvio]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formaenvio](
	[idFormaEnvio] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[nombreForma] [varchar](50) NOT NULL,
	[estado] [int] NOT NULL,
 CONSTRAINT [PK_Formaenvio] PRIMARY KEY CLUSTERED 
(
	[idFormaEnvio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marca]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marca](
	[idMarca] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[nombreMarca] [varchar](100) NOT NULL,
	[estado] [int] NULL,
 CONSTRAINT [PK_Marca] PRIMARY KEY CLUSTERED 
(
	[idMarca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetodoDePago]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodoDePago](
	[idMetodoPago] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[nombreMetodo] [varchar](100) NOT NULL,
	[estado] [int] NOT NULL,
 CONSTRAINT [PK_MetodoDePago] PRIMARY KEY CLUSTERED 
(
	[idMetodoPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PedidoCombo]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoCombo](
	[idPedidoCombo] [int] IDENTITY(1,1) NOT NULL,
	[idPedidoOnline] [int] NULL,
	[idCombo] [int] NULL,
	[cantidad] [int] NULL,
	[precioUnitario] [decimal](10, 2) NULL,
	[subtotal] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idPedidoCombo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidoonline]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidoonline](
	[idPedidoOnline] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idEstado] [int] NOT NULL,
	[idFormaEnvio] [int] NOT NULL,
	[idMetodoPago] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[hora] [time](7) NOT NULL,
	[observaciones] [varchar](250) NULL,
	[createdBy] [int] NULL,
	[createdAt] [datetime] DEFAULT GETDATE(),
	[updatedBy] [int] NULL,
	[updatedAt] [datetime] NULL,
 CONSTRAINT [PK_PedidoOnline] PRIMARY KEY CLUSTERED 
(
	[idPedidoOnline] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PedidoProducto]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoProducto](
	[idPedidoProducto] [int] IDENTITY(1,1) NOT NULL,
	[idPedidoOnline] [int] NULL,
	[idProducto] [int] NULL,
	[cantidad] [int] NULL,
	[precioUnitario] [decimal](10, 2) NULL,
	[subtotal] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idPedidoProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[idProducto] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[idCategoria] [int] NOT NULL,
	[idMarca] [int] NOT NULL,
	[idTamaño] [int] NOT NULL,
	[nombreProducto] [varchar](100) NOT NULL,
	[precioVenta] [decimal](4, 0) NOT NULL,
	[stock] [int] NOT NULL,
	[estado] [int] NOT NULL,
	[descripcionP] [varchar](200) NULL,
	[imagen] [varchar](200) NULL,
	[createdBy] [int] NULL,
	[createdAt] [datetime] DEFAULT GETDATE(),
	[updatedBy] [int] NULL,
	[updatedAt] [datetime] NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[idRol] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[nombreRol] [varchar](50) NOT NULL,
	[estado] [int] NOT NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tamaño]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tamaño](
	[idTamaño] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[estado] [int] NOT NULL,
 CONSTRAINT [PK_Tamaño] PRIMARY KEY CLUSTERED 
(
	[idTamaño] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idUsuario] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[dni] [varchar](8) NULL,
	[nombreCli] [varchar](100) NULL,
	[apellidoCli] [varchar](100) NULL,
	[correo] [varchar](100) NOT NULL,
	[contraseña] [varchar](100) NOT NULL,
	[ruc] [varchar](11) NULL,
	[razonSocial] [varchar](200) NULL,
	[direccion] [varchar](200) NULL,
	[telefono] [varchar](11) NULL,
	[idRol] [int] NOT NULL,
	[estado] [int] NOT NULL,
	[createdBy] [int] NULL,
	[createdAt] [datetime] DEFAULT GETDATE(),
	[updatedBy] [int] NULL,
	[updatedAt] [datetime] NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ComboProducto]  WITH CHECK ADD FOREIGN KEY([idCombo])
REFERENCES [dbo].[Combo] ([idCombo])
GO
ALTER TABLE [dbo].[ComboProducto]  WITH CHECK ADD FOREIGN KEY([idProducto])
REFERENCES [dbo].[Producto] ([idProducto])
GO
ALTER TABLE [dbo].[ComprobanteDePago]  WITH CHECK ADD  CONSTRAINT [FK_ComprobanteDePago_Pedidoonline] FOREIGN KEY([idPedidoOnline])
REFERENCES [dbo].[Pedidoonline] ([idPedidoOnline])
GO
ALTER TABLE [dbo].[ComprobanteDePago] CHECK CONSTRAINT [FK_ComprobanteDePago_Pedidoonline]
GO
ALTER TABLE [dbo].[PedidoCombo]  WITH CHECK ADD FOREIGN KEY([idCombo])
REFERENCES [dbo].[Combo] ([idCombo])
GO
ALTER TABLE [dbo].[PedidoCombo]  WITH CHECK ADD FOREIGN KEY([idPedidoOnline])
REFERENCES [dbo].[Pedidoonline] ([idPedidoOnline])
GO
ALTER TABLE [dbo].[Pedidoonline]  WITH CHECK ADD  CONSTRAINT [FK_PedidoOnline_Cliente] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[Pedidoonline] CHECK CONSTRAINT [FK_PedidoOnline_Cliente]
GO
ALTER TABLE [dbo].[Pedidoonline]  WITH CHECK ADD  CONSTRAINT [FK_PedidoOnline_Estado] FOREIGN KEY([idEstado])
REFERENCES [dbo].[Estado] ([idEstado])
GO
ALTER TABLE [dbo].[Pedidoonline] CHECK CONSTRAINT [FK_PedidoOnline_Estado]
GO
ALTER TABLE [dbo].[Pedidoonline]  WITH CHECK ADD  CONSTRAINT [FK_PedidoOnline_Formaenvio] FOREIGN KEY([idFormaEnvio])
REFERENCES [dbo].[Formaenvio] ([idFormaEnvio])
GO
ALTER TABLE [dbo].[Pedidoonline] CHECK CONSTRAINT [FK_PedidoOnline_Formaenvio]
GO
ALTER TABLE [dbo].[Pedidoonline]  WITH CHECK ADD  CONSTRAINT [FK_PedidoOnline_MetodoDePago] FOREIGN KEY([idMetodoPago])
REFERENCES [dbo].[MetodoDePago] ([idMetodoPago])
GO
ALTER TABLE [dbo].[Pedidoonline] CHECK CONSTRAINT [FK_PedidoOnline_MetodoDePago]
GO
ALTER TABLE [dbo].[PedidoProducto]  WITH CHECK ADD FOREIGN KEY([idPedidoOnline])
REFERENCES [dbo].[Pedidoonline] ([idPedidoOnline])
GO
ALTER TABLE [dbo].[PedidoProducto]  WITH CHECK ADD FOREIGN KEY([idProducto])
REFERENCES [dbo].[Producto] ([idProducto])
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Categoria] FOREIGN KEY([idCategoria])
REFERENCES [dbo].[Categoria] ([idCategoria])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Categoria]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Marca] FOREIGN KEY([idMarca])
REFERENCES [dbo].[Marca] ([idMarca])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Marca]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Tamaño] FOREIGN KEY([idTamaño])
REFERENCES [dbo].[Tamaño] ([idTamaño])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Tamaño]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Rol] FOREIGN KEY([idRol])
REFERENCES [dbo].[Rol] ([idRol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Cliente_Rol]
GO
/****** Object:  StoredProcedure [dbo].[spBuscarCategoria]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spBuscarCategoria]
	@idCategoria int
as
begin
	select idCategoria, nombreCategoria, estado from Categoria
	where idCategoria =@idCategoria
end
GO
/****** Object:  StoredProcedure [dbo].[spBuscarCombo]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spBuscarCombo]
	@idCombo int
as
begin
	select idCombo, nombreCombo, descripcion, precioVenta, estado from Combo
	where idCombo=@idCombo
end
GO
/****** Object:  StoredProcedure [dbo].[spBuscarComboProducto]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spBuscarComboProducto]
	@idComboProducto int
as
begin
	select idComboProducto, idCombo, idProducto, cantidad from ComboProducto
	where idComboProducto=@idComboProducto
end
GO
/****** Object:  StoredProcedure [dbo].[spBuscarEstado]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     procedure [dbo].[spBuscarEstado]
	@idEstado int
as
begin
	select idEstado,nombreEstado, estado from Estado
	where idEstado=@idEstado
end
GO
/****** Object:  StoredProcedure [dbo].[spBuscarFormaEnvio]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spBuscarFormaEnvio]
	@idFormaEnvio int
as
begin
	select idFormaEnvio, nombreForma from Formaenvio
	where idFormaEnvio = @idFormaEnvio
end
GO
/****** Object:  StoredProcedure [dbo].[spBuscarMarca]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spBuscarMarca]
	@idMarca int
as
begin
	select idMarca, nombreMarca, estado from Marca
	where idMarca = @idMarca
end
GO
/****** Object:  StoredProcedure [dbo].[spBuscarMetodoDePago]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spBuscarMetodoDePago]
	@idMetodoPago int
as
begin
	select idMetodoPago, nombreMetodo, estado from MetodoDePago
	where idMetodoPago = @idMetodoPago
end
GO
/****** Object:  StoredProcedure [dbo].[spBuscarProducto]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create or alter  procedure [dbo].[spBuscarProducto]
	  @idProducto int
AS
BEGIN
    SELECT idProducto, idCategoria, idMarca, idTamaño, nombreProducto, precioVenta, stock, estado, descripcionP, imagen
    FROM Producto
    WHERE idProducto = @idProducto
END
GO
/****** Object:  StoredProcedure [dbo].[spBuscarRol]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spBuscarRol]
	@idRol int
as
begin
	select idRol,nombreRol from Rol
	where idRol=@idRol
end
GO
/****** Object:  StoredProcedure [dbo].[spBuscarTamaño]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spBuscarTamaño]
	@idTamaño int
as
begin
	select idTamaño, nombre, estado from Tamaño
	where idTamaño = @idTamaño
end
GO
/****** Object:  StoredProcedure [dbo].[spBuscarUsuario]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spBuscarUsuario]
	@idUsuario int
as
begin
	select idUsuario,dni, nombreCli,apellidoCli, correo, contraseña, ruc, razonSocial, direccion, telefono, idRol, estado from Usuario
	where idUsuario=@idUsuario
end
GO
/****** Object:  StoredProcedure [dbo].[spDeshabilitarCategoria]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spDeshabilitarCategoria]
	@idCategoria int
as
begin
	update Categoria set
	estado = 0
	where idCategoria = @idCategoria
end
GO
/****** Object:  StoredProcedure [dbo].[spDeshabilitarCombo]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spDeshabilitarCombo]
	@idCombo int
as
begin
	update Combo set
	estado = 0
	where idCombo = @idCombo
end
GO
/****** Object:  StoredProcedure [dbo].[spDeshabilitarEstado]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     procedure [dbo].[spDeshabilitarEstado]
	@idEstado int
as
begin
	update Estado set
	estado = 0
	where idEstado = @idEstado
end
GO
/****** Object:  StoredProcedure [dbo].[spDeshabilitarFormaEnvio]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spDeshabilitarFormaEnvio]
	@idFormaEnvio int

as
begin
	update Formaenvio set
	estado = 0
	where idFormaEnvio = @idFormaEnvio
end
GO
/****** Object:  StoredProcedure [dbo].[spDeshabilitarMarca]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spDeshabilitarMarca]
	@idMarca int
as
begin
	update Marca set
	estado = 0
	where idMarca = @idMarca
end
GO
/****** Object:  StoredProcedure [dbo].[spDeshabilitarMetodoDePago]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spDeshabilitarMetodoDePago]
	@idMetodoPago int
as
begin
	update MetodoDePago set
	estado = 0
	where idMetodoPago = @idMetodoPago
end
GO
/****** Object:  StoredProcedure [dbo].[spDeshabilitarProducto]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spDeshabilitarProducto]
	@idProducto int
as
begin
	update Producto set
	estado = 0
	where idProducto = @idProducto
end
GO
/****** Object:  StoredProcedure [dbo].[spDeshabilitarRol]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spDeshabilitarRol]
	@idRol int
as
begin
	update Rol set
	estado = 0
	where idRol = @idRol
end
GO
/****** Object:  StoredProcedure [dbo].[spDeshabilitarTamaño]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spDeshabilitarTamaño]
	@idTamaño int
as
begin
	update Tamaño set
	estado = 0
	where idTamaño = @idTamaño
end
GO
/****** Object:  StoredProcedure [dbo].[spDeshabilitarUsuario]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spDeshabilitarUsuario]
	@idUsuario int
as
begin
	update Usuario set
	estado = 0
	where idUsuario = @idUsuario
end
GO
/****** Object:  StoredProcedure [dbo].[spEditaCombo]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spEditaCombo]
	@idCombo int,
	@nombreCombo varchar(100),
	@descripcion varchar(255),
	@precioVenta decimal(10,2)
as
begin
	update Combo set
	nombreCombo = @nombreCombo,
	descripcion = @descripcion,
	precioVenta = @precioVenta
	where
	idCombo=@idCombo
end
GO
/****** Object:  StoredProcedure [dbo].[spEditaComboProducto]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spEditaComboProducto]
	@idComboProducto INT,
    @nuevoIdProducto INT,
    @nuevaCantidad INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @idCombo INT;

    -- 1. Obtener idCombo asociado al idComboProducto
    SELECT @idCombo = idCombo
    FROM ComboProducto
    WHERE idComboProducto = @idComboProducto;

    IF @idCombo IS NULL
    BEGIN
        RAISERROR('El registro ComboProducto no existe.', 16, 1);
        RETURN;
    END

    -- 2. Verificar que el nuevo producto exista
    IF NOT EXISTS (SELECT 1 FROM Producto WHERE idProducto = @nuevoIdProducto)
    BEGIN
        RAISERROR('El producto especificado no existe.', 16, 1);
        RETURN;
    END

    -- 3. Validar que el nuevo producto no esté ya en el mismo combo (excepto el actual)
    IF EXISTS (
        SELECT 1 FROM ComboProducto
        WHERE idCombo = @idCombo
          AND idProducto = @nuevoIdProducto
          AND idComboProducto <> @idComboProducto
    )
    BEGIN
        RAISERROR('Este producto ya está asignado al combo. No puede duplicarse.', 16, 1);
        RETURN;
    END

    -- 4. Actualizar el registro
    UPDATE ComboProducto
    SET idProducto = @nuevoIdProducto,
        cantidad = @nuevaCantidad
    WHERE idComboProducto = @idComboProducto;
END;
GO
/****** Object:  StoredProcedure [dbo].[spEditaEstado]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     procedure [dbo].[spEditaEstado]
	@idEstado int,
	@nombreEstado varchar(50)
as
begin
	update Estado set
	nombreEstado = @nombreEstado
	
	where
	idEstado=@idEstado
end
GO
/****** Object:  StoredProcedure [dbo].[spEditaFormaEnvio]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure[dbo].[spEditaFormaEnvio]
	@idFormaEnvio int,
	@nombreForma varchar(50)
as
begin
	update FormaEnvio 
	set nombreForma = @nombreForma
	where idFormaEnvio = @idFormaEnvio
end
GO
/****** Object:  StoredProcedure [dbo].[spEditaProducto]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create or alter procedure [dbo].[spEditaProducto]
	@idProducto int,
    @idCategoria int,
    @idMarca int,
    @idTamaño int,
    @nombreProducto varchar(100),
    @precioVenta decimal(10,2),
    @stock int,
    @descripcionP varchar(200),
    @imagen varchar(200) = NULL
AS
BEGIN
    UPDATE Producto SET
        idCategoria = @idCategoria,
        idMarca = @idMarca,
        idTamaño = @idTamaño,
        nombreProducto = @nombreProducto,
        precioVenta = @precioVenta,
        stock = @stock,
        descripcionP = @descripcionP,
        imagen = @imagen
    WHERE idProducto = @idProducto
END
GO
/****** Object:  StoredProcedure [dbo].[spEditarCategoria]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEditarCategoria]
	@idCategoria int,
	@nombreCategoria varchar(100)
as
begin
	update Categoria set
	nombreCategoria = @nombreCategoria
	where idCategoria = @idCategoria
end
GO
/****** Object:  StoredProcedure [dbo].[spEditarMarca]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEditarMarca]
	@idMarca int,
	@nombreMarca varchar(100)
as
begin
	update Marca set
	nombreMarca = @nombreMarca
	where idMarca = @idMarca
end
GO
/****** Object:  StoredProcedure [dbo].[spEditarMetodoDePago]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEditarMetodoDePago]
	@idMetodoPago int,
	@nombreMetodo varchar(100)
as
begin
	update MetodoDePago set
	nombreMetodo = @nombreMetodo
	where idMetodoPago = @idMetodoPago
end
GO
/****** Object:  StoredProcedure [dbo].[spEditaRol]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spEditaRol]
	@idRol int,
	@nombreRol varchar(50)
	
as
begin
	update Rol set
	nombreRol = @nombreRol
	
	where
	idRol=@idRol
end
GO
/****** Object:  StoredProcedure [dbo].[spEditarTamaño]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEditarTamaño]
	@idTamaño int,
	@nombre varchar(100)
as
begin
	update Tamaño set
	nombre = @nombre
	where idTamaño = @idTamaño
end
GO
/****** Object:  StoredProcedure [dbo].[spEditaUsuario]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spEditaUsuario]
	@idUsuario int,
	@dni varchar(8),
	@nombreCli varchar(100),
	@apellidoCli varchar(100),
	@correo varchar(100),
	@contraseña varchar(100),
	@ruc varchar(11),
	@razonSocial varchar(200),
	@direccion varchar(200),
	@telefono varchar(11)
as
begin
	update Usuario set
	dni = @dni,
	nombreCli = @nombreCli,
	apellidoCli = @apellidoCli,
	correo = @correo,
	contraseña = @contraseña,
	ruc = @ruc,
	razonSocial = @razonSocial,
	direccion = @direccion,
	telefono = @telefono
	where
	idUsuario=@idUsuario
end
GO
/****** Object:  StoredProcedure [dbo].[spInsertarCategoria]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spInsertarCategoria]
	@nombreCategoria varchar(100),
	@estado int
as
begin
	insert into Categoria (nombreCategoria,estado)
	values (@nombreCategoria,1);
end
GO
/****** Object:  StoredProcedure [dbo].[spInsertarCombo]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spInsertarCombo]
	@nombreCombo varchar(100),
	@descripcion varchar(255),
	@precioVenta decimal(10,2)
as
begin
	insert into Combo(nombreCombo,descripcion, precioVenta,estado)
	values (@nombreCombo, @descripcion,@precioVenta, 1);
end
GO
/****** Object:  StoredProcedure [dbo].[spInsertarComboProducto]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spInsertarComboProducto]
	@idCombo int,
	@idProducto int,
	@cantidad int
as
begin
	insert into ComboProducto(idCombo,idProducto, cantidad)
	values (@idCombo,@idProducto,@cantidad);
end
GO
/****** Object:  StoredProcedure [dbo].[spInsertarEstado]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     procedure [dbo].[spInsertarEstado]
	@nombreEstado varchar (50)
	
as
begin
	insert into Estado(nombreEstado, estado)
	values (@nombreEstado,1);
end
GO
/****** Object:  StoredProcedure [dbo].[spInsertarFormaEnvio]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spInsertarFormaEnvio]
	@nombreForma varchar(50)
as
begin
	insert into Formaenvio(nombreForma, estado)
	values(@nombreForma, 1);

end
GO
/****** Object:  StoredProcedure [dbo].[spInsertarMarca]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spInsertarMarca]
	@nombreMarca varchar(100),
	@estado int
as
begin
	insert into Marca (nombreMarca,estado)
	values (@nombreMarca,1);
end
GO
/****** Object:  StoredProcedure [dbo].[spInsertarMetodoDePago]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spInsertarMetodoDePago]
	@nombreMetodo varchar(100),
	@estado int
as
begin
	insert into MetodoDePago(nombreMetodo,estado)
	values (@nombreMetodo,1);
end
GO
/****** Object:  StoredProcedure [dbo].[spInsertarProducto]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create or alter  procedure [dbo].[spInsertarProducto]
	@idCategoria int,
    @idMarca int,
    @idTamaño int,
    @nombreProducto varchar(100),
    @precioVenta decimal(10,2),
    @stock int,
    @descripcionP varchar(200),
    @imagen varchar(200) = NULL
AS
BEGIN
    INSERT INTO Producto(idCategoria, idMarca, idTamaño, nombreProducto, precioVenta, stock, estado, descripcionP, imagen)
    VALUES (@idCategoria, @idMarca, @idTamaño, @nombreProducto, @precioVenta, @stock, 1, @descripcionP, @imagen);
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertarRol]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spInsertarRol]
	@nombreRol varchar (50)
	
as
begin
	insert into Rol(nombreRol, estado)
	values (@nombreRol,1);
end
GO
/****** Object:  StoredProcedure [dbo].[spInsertarTamaño]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spInsertarTamaño]
	@nombre varchar(100),
	@estado int
as
begin
	insert into Tamaño (nombre,estado)
	values (@nombre,1);
end
GO
/****** Object:  StoredProcedure [dbo].[spInsertarUsuario]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spInsertarUsuario]
	@dni varchar (8),
	@nombreCli varchar(100),
	@apellidoCli varchar(100),
	@correo varchar(100),
	@contraseña varchar(100),
	@ruc varchar (11),
	@razonSocial varchar(200),
	@direccion varchar(200),
	@telefono varchar(11),
	@idRol int
as
begin
	insert into Usuario(dni,nombreCli,apellidoCli,correo, contraseña, ruc, razonSocial, direccion, telefono,idRol,estado)
	values (@dni,@nombreCli,@apellidoCli,@correo, @contraseña, @ruc, @razonSocial, @direccion, @telefono, @idRol,1);
end
GO
/****** Object:  StoredProcedure [dbo].[spListarCategoria]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListarCategoria]
as 
	select idCategoria, nombreCategoria, estado from Categoria
	where estado = 1
GO
/****** Object:  StoredProcedure [dbo].[spListarCombo]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spListarCombo]
as
	select idCombo, nombreCombo, descripcion, precioVenta, estado from Combo
	where estado = 1
GO
/****** Object:  StoredProcedure [dbo].[spListarComboProducto]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spListarComboProducto]
	@idCombo int
as
	select idComboProducto, idCombo, idProducto, cantidad from ComboProducto
	where idCombo = @idCombo
GO
/****** Object:  StoredProcedure [dbo].[spListarEstado]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     procedure [dbo].[spListarEstado]
as
	select idEstado, nombreEstado,  estado from Estado
	where estado = 1
GO
/****** Object:  StoredProcedure [dbo].[spListarFormaEnvio]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spListarFormaEnvio]
as
	Select idFormaEnvio, nombreForma, estado from FormaEnvio
	where estado = 1
GO
/****** Object:  StoredProcedure [dbo].[spListarMarca]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListarMarca]
as 
	select idMarca, nombreMarca, estado from Marca
	where estado = 1
GO
/****** Object:  StoredProcedure [dbo].[spListarMetodoDePago]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListarMetodoDePago]
as 
	select idMetodoPago, nombreMetodo, estado from MetodoDePago
	where estado = 1
GO
/****** Object:  StoredProcedure [dbo].[spListarPedidoProducto]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     procedure [dbo].[spListarPedidoProducto]
as
	select idPedidoProducto, idPedidoOnline,  idProducto, cantidad, precioUnitario, subtotal from PedidoProducto
	
GO
/****** Object:  StoredProcedure [dbo].[spListarProducto]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create or alter  procedure [dbo].[spListarProducto]
AS
BEGIN
    SELECT idProducto, idCategoria, idMarca, idTamaño, nombreProducto, precioVenta, stock, estado, descripcionP, imagen
    FROM Producto
    WHERE estado = 1
END
GO
/****** Object:  StoredProcedure [dbo].[spListarRol]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spListarRol]
as
	select idRol, nombreRol,  estado from Rol
	where estado = 1
GO
/****** Object:  StoredProcedure [dbo].[spListarTamaño]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spListarTamaño]
as 
	select idTamaño, nombre, estado from Tamaño
	where estado = 1
GO
/****** Object:  StoredProcedure [dbo].[spListarUsuario]    Script Date: 07/07/2025 20:32:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   procedure [dbo].[spListarUsuario]
as
	select idUsuario, dni, nombreCli,apellidoCli,correo,contraseña,ruc,razonSocial, direccion, telefono,idRol, estado from Usuario
	where estado = 1
GO

-- =============================================
-- MEJORAS DE SEGURIDAD Y AUDITORÍA
-- =============================================

-- NOTA: Los campos de auditoría ya fueron agregados automáticamente a las tablas principales
-- =============================================

-- 2. TABLA DE PERMISOS Y ROLES
-- =============================================

-- Crear tabla de Permisos
CREATE TABLE [dbo].[Permiso](
	[idPermiso] [int] IDENTITY(1,1) NOT NULL,
	[nombrePermiso] [varchar](100) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[estado] [int] NOT NULL DEFAULT 1,
 CONSTRAINT [PK_Permiso] PRIMARY KEY CLUSTERED 
(
	[idPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- Crear tabla de relación Rol-Permiso
CREATE TABLE [dbo].[RolPermiso](
	[idRol] [int] NOT NULL,
	[idPermiso] [int] NOT NULL,
 CONSTRAINT [PK_RolPermiso] PRIMARY KEY CLUSTERED 
(
	[idRol] ASC,
	[idPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- 3. TABLA DE SESIONES DE USUARIO
-- =============================================

CREATE TABLE [dbo].[SesionUsuario](
	[idSesion] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[token] [varchar](255) NOT NULL,
	[fechaInicio] [datetime] NOT NULL DEFAULT GETDATE(),
	[fechaExpiracion] [datetime] NOT NULL,
	[ipAddress] [varchar](45) NULL,
	[userAgent] [varchar](500) NULL,
	[activa] [bit] NOT NULL DEFAULT 1,
 CONSTRAINT [PK_SesionUsuario] PRIMARY KEY CLUSTERED 
(
	[idSesion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- 4. TABLA DE LOGS DE ACTIVIDAD
-- =============================================

CREATE TABLE [dbo].[LogActividad](
	[idLog] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NULL,
	[accion] [varchar](100) NOT NULL,
	[tabla] [varchar](100) NULL,
	[idRegistro] [int] NULL,
	[datosAnteriores] [text] NULL,
	[datosNuevos] [text] NULL,
	[ipAddress] [varchar](45) NULL,
	[fecha] [datetime] NOT NULL DEFAULT GETDATE(),
 CONSTRAINT [PK_LogActividad] PRIMARY KEY CLUSTERED 
(
	[idLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

-- 5. AGREGAR FOREIGN KEYS
-- =============================================

-- FK para RolPermiso
ALTER TABLE [dbo].[RolPermiso]  WITH CHECK ADD  CONSTRAINT [FK_RolPermiso_Rol] FOREIGN KEY([idRol])
REFERENCES [dbo].[Rol] ([idRol])
GO
ALTER TABLE [dbo].[RolPermiso] CHECK CONSTRAINT [FK_RolPermiso_Rol]
GO

ALTER TABLE [dbo].[RolPermiso]  WITH CHECK ADD  CONSTRAINT [FK_RolPermiso_Permiso] FOREIGN KEY([idPermiso])
REFERENCES [dbo].[Permiso] ([idPermiso])
GO
ALTER TABLE [dbo].[RolPermiso] CHECK CONSTRAINT [FK_RolPermiso_Permiso]
GO

-- FK para SesionUsuario
ALTER TABLE [dbo].[SesionUsuario]  WITH CHECK ADD  CONSTRAINT [FK_SesionUsuario_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[SesionUsuario] CHECK CONSTRAINT [FK_SesionUsuario_Usuario]
GO

-- FK para LogActividad
ALTER TABLE [dbo].[LogActividad]  WITH CHECK ADD  CONSTRAINT [FK_LogActividad_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[LogActividad] CHECK CONSTRAINT [FK_LogActividad_Usuario]
GO

-- 6. INSERTAR DATOS INICIALES
-- =============================================

-- Insertar permisos básicos
GO

-- Insertar roles básicos
INSERT INTO [dbo].[Rol] ([nombreRol], [estado]) VALUES
('Administrador', 1),
('Vendedor', 1),
('Cliente', 1)
GO

-- Asignar permisos a roles
-- Administrador: todos los permisos
INSERT INTO [dbo].[RolPermiso] ([idRol], [idPermiso]) 
SELECT 1, [idPermiso] FROM [dbo].[Permiso]
GO

-- Vendedor: permisos de productos y pedidos
INSERT INTO [dbo].[RolPermiso] ([idRol], [idPermiso]) VALUES
(2, 5), -- PRODUCTO_CREAR
(2, 6), -- PRODUCTO_EDITAR
(2, 8), -- PRODUCTO_VER
(2, 9), -- PEDIDO_CREAR
(2, 10), -- PEDIDO_EDITAR
(2, 12), -- PEDIDO_VER
(2, 13)  -- REPORTE_VER
GO

-- Cliente: solo ver productos y crear pedidos
INSERT INTO [dbo].[RolPermiso] ([idRol], [idPermiso]) VALUES
(3, 8), -- PRODUCTO_VER
(3, 9), -- PEDIDO_CREAR
(3, 12) -- PEDIDO_VER
GO

-- 7. PROCEDIMIENTOS ALMACENADOS PARA SEGURIDAD
-- =============================================

-- Procedimiento para verificar permisos de usuario
CREATE PROCEDURE [dbo].[spVerificarPermiso]
	@idUsuario int,
	@nombrePermiso varchar(100)
AS
BEGIN
	SELECT COUNT(*) as tienePermiso
	FROM Usuario u
	JOIN RolPermiso rp ON u.idRol = rp.idRol
	JOIN Permiso p ON rp.idPermiso = p.idPermiso
	WHERE u.idUsuario = @idUsuario 
	AND p.nombrePermiso = @nombrePermiso
	AND u.estado = 1 
	AND p.estado = 1
END
GO

-- Procedimiento para crear sesión de usuario
CREATE PROCEDURE [dbo].[spCrearSesion]
	@idUsuario int,
	@token varchar(255),
	@fechaExpiracion datetime,
	@ipAddress varchar(45) = NULL,
	@userAgent varchar(500) = NULL
AS
BEGIN
	-- Desactivar sesiones anteriores del usuario
	UPDATE SesionUsuario 
	SET activa = 0 
	WHERE idUsuario = @idUsuario AND activa = 1
	
	-- Crear nueva sesión
	INSERT INTO SesionUsuario (idUsuario, token, fechaExpiracion, ipAddress, userAgent)
	VALUES (@idUsuario, @token, @fechaExpiracion, @ipAddress, @userAgent)
END
GO

-- Procedimiento para validar sesión
CREATE PROCEDURE [dbo].[spValidarSesion]
	@token varchar(255)
AS
BEGIN
	SELECT s.idSesion, s.idUsuario, u.nombreCli, u.apellidoCli, u.idRol, r.nombreRol
	FROM SesionUsuario s
	JOIN Usuario u ON s.idUsuario = u.idUsuario
	JOIN Rol r ON u.idRol = r.idRol
	WHERE s.token = @token 
	AND s.activa = 1 
	AND s.fechaExpiracion > GETDATE()
	AND u.estado = 1
END
GO

-- Procedimiento para cerrar sesión
CREATE PROCEDURE [dbo].[spCerrarSesion]
	@token varchar(255)
AS
BEGIN
	UPDATE SesionUsuario 
	SET activa = 0 
	WHERE token = @token
END
GO

-- Procedimiento para registrar actividad
CREATE PROCEDURE [dbo].[spRegistrarActividad]
	@idUsuario int = NULL,
	@accion varchar(100),
	@tabla varchar(100) = NULL,
	@idRegistro int = NULL,
	@datosAnteriores text = NULL,
	@datosNuevos text = NULL,
	@ipAddress varchar(45) = NULL
AS
BEGIN
	INSERT INTO LogActividad (idUsuario, accion, tabla, idRegistro, datosAnteriores, datosNuevos, ipAddress)
	VALUES (@idUsuario, @accion, @tabla, @idRegistro, @datosAnteriores, @datosNuevos, @ipAddress)
END
GO

-- 8. VISTAS PARA REPORTES
-- =============================================

-- Vista de ventas por período
CREATE VIEW [dbo].[vw_VentasPorPeriodo] AS
SELECT 
	CAST(p.fecha AS DATE) as fecha,
	COUNT(DISTINCT p.idPedidoOnline) as totalPedidos,
	SUM(cp.monto) as totalVentas,
	AVG(cp.monto) as promedioVenta
FROM Pedidoonline p
JOIN ComprobanteDePago cp ON p.idPedidoOnline = cp.idPedidoOnline
WHERE p.fecha >= DATEADD(DAY, -30, GETDATE())
GROUP BY CAST(p.fecha AS DATE)
GO

-- Vista de productos más vendidos
CREATE VIEW [dbo].[vw_ProductosMasVendidos] AS
SELECT 
	pr.idProducto,
	pr.nombreProducto,
	c.nombreCategoria,
	m.nombreMarca,
	t.nombre as nombreTamaño,
	SUM(pp.cantidad) as totalVendido,
	SUM(pp.subtotal) as totalIngresos
FROM PedidoProducto pp
JOIN Producto pr ON pp.idProducto = pr.idProducto
JOIN Categoria c ON pr.idCategoria = c.idCategoria
JOIN Marca m ON pr.idMarca = m.idMarca
JOIN Tamaño t ON pr.idTamaño = t.idTamaño
JOIN Pedidoonline p ON pp.idPedidoOnline = p.idPedidoOnline
WHERE p.fecha >= DATEADD(DAY, -30, GETDATE())
GROUP BY pr.idProducto, pr.nombreProducto, c.nombreCategoria, m.nombreMarca, t.nombre
GO

-- Vista de clientes más activos
CREATE VIEW [dbo].[vw_ClientesMasActivos] AS
SELECT 
	u.idUsuario,
	u.nombreCli + ' ' + u.apellidoCli as nombreCompleto,
	u.correo,
	u.telefono,
	COUNT(p.idPedidoOnline) as totalPedidos,
	SUM(cp.monto) as totalGastado,
	MAX(p.fecha) as ultimaCompra
FROM Usuario u
JOIN Pedidoonline p ON u.idUsuario = p.idUsuario
JOIN ComprobanteDePago cp ON p.idPedidoOnline = cp.idPedidoOnline
WHERE u.idRol = 3 -- Solo clientes
GROUP BY u.idUsuario, u.nombreCli, u.apellidoCli, u.correo, u.telefono
GO

-- Vista de estado de inventario
CREATE VIEW [dbo].[vw_EstadoInventario] AS
SELECT 
	pr.idProducto,
	pr.nombreProducto,
	c.nombreCategoria,
	m.nombreMarca,
	t.nombre as nombreTamaño,
	pr.stock,
	pr.precioVenta,
	CASE 
		WHEN pr.stock = 0 THEN 'Agotado'
		WHEN pr.stock <= 10 THEN 'Stock Bajo'
		ELSE 'Stock Normal'
	END as estadoStock
FROM Producto pr
JOIN Categoria c ON pr.idCategoria = c.idCategoria
JOIN Marca m ON pr.idMarca = m.idMarca
JOIN Tamaño t ON pr.idTamaño = t.idTamaño
WHERE pr.estado = 1
GO

-- 9. TRIGGERS PARA AUDITORÍA AUTOMÁTICA
-- =============================================

-- Trigger para auditar cambios en Usuario
CREATE TRIGGER [dbo].[tr_Usuario_Audit] ON [dbo].[Usuario]
AFTER UPDATE
AS
BEGIN
	DECLARE @idUsuario int, @accion varchar(100)
	
	SELECT @idUsuario = idUsuario FROM inserted
	
	INSERT INTO LogActividad (idUsuario, accion, tabla, idRegistro, datosAnteriores, datosNuevos)
	SELECT 
		@idUsuario,
		'UPDATE',
		'Usuario',
		i.idUsuario,
		(SELECT * FROM deleted FOR JSON PATH),
		(SELECT * FROM inserted FOR JSON PATH)
	FROM inserted i
END
GO

-- Trigger para auditar cambios en Producto
CREATE TRIGGER [dbo].[tr_Producto_Audit] ON [dbo].[Producto]
AFTER UPDATE
AS
BEGIN
	DECLARE @idUsuario int
	
	-- Obtener el usuario de la sesión actual (esto se implementaría en la aplicación)
	SET @idUsuario = NULL
	
	INSERT INTO LogActividad (idUsuario, accion, tabla, idRegistro, datosAnteriores, datosNuevos)
	SELECT 
		@idUsuario,
		'UPDATE',
		'Producto',
		i.idProducto,
		(SELECT * FROM deleted FOR JSON PATH),
		(SELECT * FROM inserted FOR JSON PATH)
	FROM inserted i
END
GO

-- 10. PROCEDIMIENTOS PARA REPORTES
-- =============================================

-- Reporte de ventas diarias
CREATE PROCEDURE [dbo].[spReporteVentasDiarias]
	@fechaInicio date,
	@fechaFin date
AS
BEGIN
	SELECT 
		CAST(p.fecha AS DATE) as fecha,
		COUNT(DISTINCT p.idPedidoOnline) as totalPedidos,
		SUM(cp.monto) as totalVentas,
		AVG(cp.monto) as promedioVenta,
		COUNT(DISTINCT p.idUsuario) as clientesUnicos
	FROM Pedidoonline p
	JOIN ComprobanteDePago cp ON p.idPedidoOnline = cp.idPedidoOnline
	WHERE p.fecha BETWEEN @fechaInicio AND @fechaFin
	GROUP BY CAST(p.fecha AS DATE)
	ORDER BY fecha
END
GO

-- Reporte de productos por categoría
CREATE PROCEDURE [dbo].[spReporteProductosPorCategoria]
AS
BEGIN
	SELECT 
		c.nombreCategoria,
		COUNT(pr.idProducto) as totalProductos,
		SUM(pr.stock) as stockTotal,
		AVG(pr.precioVenta) as precioPromedio
	FROM Categoria c
	LEFT JOIN Producto pr ON c.idCategoria = pr.idCategoria AND pr.estado = 1
	WHERE c.estado = 1
	GROUP BY c.idCategoria, c.nombreCategoria
	ORDER BY totalProductos DESC
END
GO

-- Reporte de clientes por período
CREATE PROCEDURE [dbo].[spReporteClientesPeriodo]
	@fechaInicio date,
	@fechaFin date
AS
BEGIN
	SELECT 
		u.idUsuario,
		u.nombreCli + ' ' + u.apellidoCli as nombreCompleto,
		u.correo,
		u.telefono,
		COUNT(p.idPedidoOnline) as pedidosEnPeriodo,
		SUM(cp.monto) as totalGastadoEnPeriodo,
		MAX(p.fecha) as ultimaCompra
	FROM Usuario u
	JOIN Pedidoonline p ON u.idUsuario = p.idUsuario
	JOIN ComprobanteDePago cp ON p.idPedidoOnline = cp.idPedidoOnline
	WHERE u.idRol = 3 
	AND p.fecha BETWEEN @fechaInicio AND @fechaFin
	GROUP BY u.idUsuario, u.nombreCli, u.apellidoCli, u.correo, u.telefono
	ORDER BY totalGastadoEnPeriodo DESC
END
GO

-- 11. ÍNDICES PARA MEJORAR RENDIMIENTO
-- =============================================

-- Índices para búsquedas frecuentes
CREATE INDEX [IX_Usuario_Correo] ON [dbo].[Usuario] ([correo])
GO

CREATE INDEX [IX_Usuario_DNI] ON [dbo].[Usuario] ([dni])
GO

CREATE INDEX [IX_Producto_Nombre] ON [dbo].[Producto] ([nombreProducto])
GO

CREATE INDEX [IX_PedidoOnline_Fecha] ON [dbo].[Pedidoonline] ([fecha])
GO

CREATE INDEX [IX_SesionUsuario_Token] ON [dbo].[SesionUsuario] ([token])
GO

CREATE INDEX [IX_LogActividad_Fecha] ON [dbo].[LogActividad] ([fecha])
GO

-- 12. PROCEDIMIENTO PARA LIMPIAR LOGS ANTIGUOS
-- =============================================

CREATE PROCEDURE [dbo].[spLimpiarLogsAntiguos]
	@diasRetener int = 90
AS
BEGIN
	DELETE FROM LogActividad 
	WHERE fecha < DATEADD(DAY, -@diasRetener, GETDATE())
	
	DELETE FROM SesionUsuario 
	WHERE fechaExpiracion < GETDATE() AND activa = 0
END
GO

-- 13. PROCEDIMIENTO PARA BACKUP DE DATOS CRÍTICOS
-- =============================================

CREATE PROCEDURE [dbo].[spBackupDatosCriticos]
AS
BEGIN
	-- Crear tabla de respaldo con timestamp
	DECLARE @fechaBackup varchar(20) = CONVERT(varchar(20), GETDATE(), 112) + '_' + REPLACE(CONVERT(varchar(8), GETDATE(), 108), ':', '')
	
	-- Backup de usuarios
	EXEC('SELECT * INTO Usuario_Backup_' + @fechaBackup + ' FROM Usuario')
	
	-- Backup de productos
	EXEC('SELECT * INTO Producto_Backup_' + @fechaBackup + ' FROM Producto')
	
	-- Backup de pedidos
	EXEC('SELECT * INTO Pedidoonline_Backup_' + @fechaBackup + ' FROM Pedidoonline')
END
GO

PRINT 'Mejoras de seguridad y auditoría agregadas exitosamente.'
PRINT 'Se han agregado:'
PRINT '- Campos de auditoría en tablas principales'
PRINT '- Sistema de permisos y roles'
PRINT '- Gestión de sesiones de usuario'
PRINT '- Logs de actividad'
PRINT '- Vistas para reportes'
PRINT '- Triggers de auditoría'
PRINT '- Procedimientos de seguridad'
PRINT ''
PRINT 'Recomendaciones:'
PRINT '1. Cambiar las contraseñas existentes a formato hash'
PRINT '2. Implementar encriptación en la aplicación'
PRINT '3. Configurar respaldos automáticos'
PRINT '4. Revisar y ajustar permisos según necesidades'

-- 14. PROCEDIMIENTOS ALMACENADOS ADICIONALES
-- =============================================

-- Procedimiento para listar permisos
GO
CREATE PROCEDURE [dbo].[spListarPermisos]
AS
BEGIN
    SELECT idPermiso, nombrePermiso, descripcion, estado 
    FROM Permiso 
    WHERE estado = 1
    ORDER BY nombrePermiso
END
GO

-- Procedimiento para buscar permiso
GO
CREATE PROCEDURE [dbo].[spBuscarPermiso]
    @idPermiso int
AS
BEGIN
    SELECT idPermiso, nombrePermiso, descripcion, estado 
    FROM Permiso 
    WHERE idPermiso = @idPermiso
END
GO

-- Procedimiento para insertar permiso
GO
CREATE PROCEDURE [dbo].[spInsertarPermiso]
    @nombrePermiso varchar(100),
    @descripcion varchar(255) = NULL
AS
BEGIN
    INSERT INTO Permiso (nombrePermiso, descripcion, estado)
    VALUES (@nombrePermiso, @descripcion, 1)
END
GO

-- Procedimiento para editar permiso
GO
CREATE PROCEDURE [dbo].[spEditarPermiso]
    @idPermiso int,
    @nombrePermiso varchar(100),
    @descripcion varchar(255) = NULL
AS
BEGIN
    UPDATE Permiso 
    SET nombrePermiso = @nombrePermiso,
        descripcion = @descripcion
    WHERE idPermiso = @idPermiso
END
GO

-- Procedimiento para deshabilitar permiso
GO
CREATE PROCEDURE [dbo].[spDeshabilitarPermiso]
    @idPermiso int
AS
BEGIN
    UPDATE Permiso 
    SET estado = 0 
    WHERE idPermiso = @idPermiso
END
GO

-- Procedimiento para listar logs
GO
CREATE PROCEDURE [dbo].[spListarLogs]
    @fechaInicio datetime,
    @fechaFin datetime
AS
BEGIN
    SELECT 
        l.idLog,
        l.idUsuario,
        u.nombreCli + ' ' + u.apellidoCli as nombreUsuario,
        l.accion,
        l.tabla,
        l.idRegistro,
        l.datosAnteriores,
        l.datosNuevos,
        l.ipAddress,
        l.fecha
    FROM LogActividad l
    LEFT JOIN Usuario u ON l.idUsuario = u.idUsuario
    WHERE l.fecha BETWEEN @fechaInicio AND @fechaFin
    ORDER BY l.fecha DESC
END
GO

-- Procedimiento para obtener permisos de un rol
GO
CREATE PROCEDURE [dbo].[spObtenerPermisosRol]
    @idRol int
AS
BEGIN
    SELECT p.idPermiso, p.nombrePermiso, p.descripcion
    FROM Permiso p
    INNER JOIN RolPermiso rp ON p.idPermiso = rp.idPermiso
    WHERE rp.idRol = @idRol AND p.estado = 1
    ORDER BY p.nombrePermiso
END
GO

-- Procedimiento para asignar permiso a rol
GO
CREATE PROCEDURE [dbo].[spAsignarPermisoRol]
    @idRol int,
    @idPermiso int
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM RolPermiso WHERE idRol = @idRol AND idPermiso = @idPermiso)
    BEGIN
        INSERT INTO RolPermiso (idRol, idPermiso)
        VALUES (@idRol, @idPermiso)
    END
END
GO

-- Procedimiento para quitar permiso de rol
GO
CREATE PROCEDURE [dbo].[spQuitarPermisoRol]
    @idRol int,
    @idPermiso int
AS
BEGIN
    DELETE FROM RolPermiso 
    WHERE idRol = @idRol AND idPermiso = @idPermiso
END
GO

-- Procedimiento para obtener reporte de actividad por usuario
GO
CREATE PROCEDURE [dbo].[spReporteActividadUsuario]
    @idUsuario int,
    @fechaInicio datetime,
    @fechaFin datetime
AS
BEGIN
    SELECT 
        l.accion,
        l.tabla,
        l.idRegistro,
        l.ipAddress,
        l.fecha
    FROM LogActividad l
    WHERE l.idUsuario = @idUsuario 
    AND l.fecha BETWEEN @fechaInicio AND @fechaFin
    ORDER BY l.fecha DESC
END
GO

-- Procedimiento para obtener estadísticas de actividad
GO
CREATE PROCEDURE [dbo].[spEstadisticasActividad]
    @fechaInicio datetime,
    @fechaFin datetime
AS
BEGIN
    SELECT 
        l.accion,
        COUNT(*) as totalAcciones,
        COUNT(DISTINCT l.idUsuario) as usuariosUnicos
    FROM LogActividad l
    WHERE l.fecha BETWEEN @fechaInicio AND @fechaFin
    GROUP BY l.accion
    ORDER BY totalAcciones DESC
END
GO

-- Procedimiento para obtener sesiones activas
GO
CREATE PROCEDURE [dbo].[spObtenerSesionesActivas]
AS
BEGIN
    SELECT 
        s.idSesion,
        s.idUsuario,
        u.nombreCli + ' ' + u.apellidoCli as nombreUsuario,
        s.token,
        s.fechaInicio,
        s.fechaExpiracion,
        s.ipAddress,
        s.userAgent
    FROM SesionUsuario s
    INNER JOIN Usuario u ON s.idUsuario = u.idUsuario
    WHERE s.activa = 1 AND s.fechaExpiracion > GETDATE()
    ORDER BY s.fechaInicio DESC
END
GO

-- Procedimiento para cerrar todas las sesiones de un usuario
GO
CREATE PROCEDURE [dbo].[spCerrarSesionesUsuario]
    @idUsuario int
AS
BEGIN
    UPDATE SesionUsuario 
    SET activa = 0 
    WHERE idUsuario = @idUsuario AND activa = 1
END
GO

PRINT 'Procedimientos almacenados adicionales agregados exitosamente.'
PRINT 'El sistema de seguridad y auditoría está completamente implementado.'
PRINT ''
PRINT 'Resumen de implementación:'
PRINT '✅ Entidades con campos de auditoría'
PRINT '✅ Clases de datos para permisos, sesiones y logs'
PRINT '✅ Lógica de negocio con validaciones'
PRINT '✅ Controladores con verificación de permisos'
PRINT '✅ Procedimientos almacenados completos'
PRINT '✅ Sistema de auditoría automática'
PRINT ''
PRINT 'Próximos pasos:'
PRINT '1. Crear las vistas correspondientes'
PRINT '2. Implementar autenticación real'
PRINT '3. Configurar middleware de autorización'
PRINT '4. Agregar encriptación de contraseñas'

-- =============================================
-- PROCEDIMIENTO PARA LISTAR PRODUCTOS POR CATEGORIA
-- =============================================
CREATE OR ALTER PROCEDURE spListarProductoPorCategoria
    @idCategoria int
AS
BEGIN
    SELECT idProducto, idCategoria, nombreProducto, precioVenta, descripcionP, imagen
    FROM Producto
    WHERE estado = 1 AND idCategoria = @idCategoria
END
GO

-- =============================================
-- PROCEDIMIENTO PARA INSERTAR PEDIDO ONLINE (CABECERA)
-- =============================================
CREATE OR ALTER PROCEDURE spInsertarPedidoOnline
    @idUsuario int,
    @idEstado int,
    @idFormaEnvio int,
    @idMetodoPago int,
    @fecha date,
    @hora time,
    @observaciones varchar(250) = NULL,
    @direccion varchar(250) = NULL, -- <-- Agregado
    @idPedidoOnline int OUTPUT
AS
BEGIN
    INSERT INTO Pedidoonline (idUsuario, idEstado, idFormaEnvio, idMetodoPago, fecha, hora, observaciones, direccion)
    VALUES (@idUsuario, @idEstado, @idFormaEnvio, @idMetodoPago, @fecha, @hora, @observaciones, @direccion);

    SET @idPedidoOnline = SCOPE_IDENTITY();
END
GO

-- =============================================
-- PROCEDIMIENTO PARA INSERTAR PEDIDO PRODUCTO (DETALLE)
-- =============================================
CREATE OR ALTER PROCEDURE spInsertarPedidoProducto
    @idPedidoOnline int,
    @idProducto int,
    @cantidad int,
    @precioUnitario decimal(10,2),
    @subtotal decimal(10,2)
AS
BEGIN
    INSERT INTO PedidoProducto (idPedidoOnline, idProducto, cantidad, precioUnitario, subtotal)
    VALUES (@idPedidoOnline, @idProducto, @cantidad, @precioUnitario, @subtotal);
END
GO

-- =============================================
-- PROCEDIMIENTO PARA ELIMINAR COMBO PRODUCTO
-- =============================================
CREATE OR ALTER PROCEDURE spEliminarComboProducto
    @idComboProducto int
AS
BEGIN
    DELETE FROM ComboProducto
    WHERE idComboProducto = @idComboProducto
END
GO

